.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bg-color);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.left-side-contacts {
    margin-right: 70px;
}

.footer .logo-studio {
    color: var(--logo-primary-color-footer);
}

.address {
    margin-top: 20px;
    width: 230px;
    font-style: normal;
}

.address-list-item:not(:last-child) {
    margin-bottom: 6px;
}

.address-list .link {
    color: var(--extra-text-color);

    transition: color var(--duration) var(--timing-function);
}

.address-list .contact {
    color: var(--contacts-footer-color);
}

.address .link:hover,
.address .link:focus {
    color: var(--accent-color);
}

.right-side-contacts .subtitle,
.subscription .subtitle {
    color: var(--extra-text-color);
    margin-bottom: 20px;
}

.right-side-contacts .social-list {
    justify-content: start;
}

.right-side-contacts .link {
    background-color: rgba(255, 255, 255, 0.1);
}

.right-side-contacts .icon {
    fill: var(--extra-text-color);
}

.subscription {
    margin-left: auto;
}

.subscription-form {
    display: flex;
}

.subscription .input {
    display: block;

    width: 358px;
    height: 50px;
    padding: 0px 16px;
    margin-right: 12px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--extra-text-color);

    transition: border-color var(--duration) var(--timing-function);
}

.subscription .input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.subscription .button.primary {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscription .icon {
    margin-left: 10px;
    fill: var(--primary-bg-color)
}