.social-list {
    display: flex;
    justify-content: center;
}

.social-list .item:not(:last-child) {
    margin-right: 10px;
}

.social-list .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icon-color);

    transition: background-color var(--duration) var(--timing-function);
}

.social-list .link:hover,
.social-list .link:focus {
    background-color: var(--accent-color);
}

.social-list .icon {
    fill: var(--icon-color);
    transition: fill var(--duration) var(--timing-function);
}

.social-list .link:hover .icon,
.social-list .link:focus .icon {
    fill: var(--extra-text-color);
}